name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

  workflow_dispatch:

jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3

      # Runs a single command using the runners shell
      - name: Install Racket
        run: sudo apt-get install racket=8.8

      - name: Install Powershell
        run: sudo apt-get install powershell

      - name: Build Libraries
        run: pwsh build.ps1

      - name: Run Tests
        run: pwsh test.ps1
